/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.login .form-group {
  vertical-align: top;
}

.login button {
  padding: 3;
}
.signup {
  padding: 0.5em;
}

.pass {
  background-color: green;
}

.fail {
  background-color: red;
}

div.alert.alert-danger {
  margin: 0;
}

.wave {
  position: absolute;
}
.form-group {
  position: relative;
}
.wave-hide {
  visibility: hidden;
}

.username {
}

.password {
  margin-right: 20px;
  margin-left: 20px;
}

.login-button {
  margin-right: 5px;
}

.invalid {
  visibility: visible;
}

.valid {
  visibility: hidden;
}
